<!DOCTYPE html>
<html>
<!-- Header -->
<%- partial('_partial/header') %>
  <!-- Header End -->

  <body class="w-full h-full font-sans">
    <!-- Navigation -->
    <div>
      <%- partial('_partial/navigation') %>
    </div>
    <!-- Navigation End -->
    <!-- PostDetail -->
    <%- partial('_partial/postDetail') %>
    <!-- PostDetail End -->
    <%- partial('_partial/footer') %>
  </body>
</html>